<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TODO APP</title>

    <!-- Google fonts  -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nunito&display=swap" rel="stylesheet">

    <!-- Link stylesheet  -->
    <link rel="stylesheet" href="/css/home.css">

    <!-- Favicon  -->
    <link rel="icon" type="image/png" href="/favicon/favicon.png">

    <!-- Fontawesome icons  -->
    <script src="https://kit.fontawesome.com/9863b744e9.js" crossorigin="anonymous"></script>
</head>
<body>
    <!-- Main container of Todo App  -->
    <div id="todo-container">

        <h1 class="heading">TODO APP</h1>

        <!-- Input form  -->
        <form action="/action/create-list" method="post">
            
            <!-- Description div containing text input  -->
            <div id="description">
                <label for="description">Description</label>
                <input id="description" type="text" name="description" placeholder="Enter tasks to be done..." required>
                
            </div>

            <!-- Div containing category & to select a date  -->
            <div id="category_date">
                <div id="category">
                    <label for="category">Category</label>

                    <!-- Category Input  -->
                    <select name="category">
                        <option value="n/a">Choose a Category</option>
                        <option value="work">Work</option>
                        <option value="personal">Personal</option>
                        <option value="health">Health</option>
                        <option value="others">Others</option>


                    </select>
                </div>

                <!-- Date Input  -->
                <div id="date">
                    <label for="date"> Due Date</label>
                    <input type="date" name="date">

                </div>
            </div>

            <!-- Buttons Div  -->
            <div id="buttons">
                <button type="submit" class="add-button">
                    <i class="fas fa-plus"></i>
                    Add Task</button>
            </div>

        </form>
        <!-- End of Form  -->


        <!-- Div for displaying the notes  -->
        <div>
            
            <!-- For loop to print every task from the todo_list  -->
            <% for(let i of todo_list) { %>
    
                <form action="/action/delete-list" method="post">
                 
                <!-- Individual Note  -->
                    <div class="note">

                        <div class="desc-date-category">
                            <div class="desc-date">
                                <h3> <%= i.description %> </h3>
                                <p> <%= i.date %> </p>
                            </div>
                            <div class="category">
                                <p> <%= i.category %> </p>
                                
                            </div>
                        </div>
                        
                        <button type="submit" name="id" value="<%= i.id %>"><i class="fas fa-trash-alt"></i></button>
                        
                        
                    </div>
    
                </form>
    
            <% }  %>

        </div>
        <!-- End of Display div  -->

    </div>

    
    
</body>
</html>