
#todo-container{
    margin: auto;
    /* height: 80vh; */
    width: 60vw;
    border: 1px solid black;
}

textarea{
    height: 100px;
    width:90%;
}

#description{
    margin:auto;
    width: 90%;
    padding: 1.5rem;
    

}

#category_date{
    display:flex;
    justify-content: space-evenly;
}

label{
    display: inline-block;
    width: 100%;
}

select,input[type="date"]{
    width:100%;
    padding: 5px;
}

i{
    color:black;
   
}

#buttons{
    display: flex;
    justify-content: space-evenly;
}

button{
    margin:10px;
    height: 50px;
}

.note{
    border: 1px solid black;
}